<html>
    <head>
    {% if title is defined %}
            <title>{{ title }} - microblog</title>
    {% else %}
            <title>{{ 'Welcome to microblog'|trans }}</title>
    {% endif %}
    {% block stylesheets %}
            <link rel="stylesheet" href="{{ app.request.baseUrl }}/vendor/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ app.request.baseUrl }}/css/style.css">

    {% endblock %}
        </head>
        <body>
{% block header %}
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container">
                            <a class="brand" href="{{ app.request.baseUrl }}/">Microblog</a>
                            <ul class="nav">
                    {% if app.security.isGranted("ROLE_USER") %}
                                    <li>
                                        <a href="{{ path("public_profile",{username:app.current_account.username|url_encode}) }}">
                                            {{ "Welcome"|trans }} {{ app.current_account.username }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path("private_logout") }}">{{'Logout'|trans}}</a></li>{% else %}
                                        <li>
                                            <a href="{{ path("login") }}">{{'Login'|trans}}</a></li>
                    {% endif %}
                                        <li> {% include 'common/search.html.twig' %}</li>
                                    </ul>
                               
                                    <ul class='nav pull-right'>
                                        <li><a href="{{path("set_locale",{locale:"en"}) }} ">EN</a></li>
                                        <li><a href="{{path("set_locale",{locale:"fr"}) }} ">FR</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

{% endblock %}

                        <div class="container">
    {% block subtitle%}<h5> {{ 'Welcome to microblog'|trans }}  </h5>{%endblock%}                        
    {% block flash %}
        {% include "common/flash.html.twig" %}
    {% endblock %}
    {% block content %}
    {% endblock %}
                            </div>
                        </body>
                    </html>