{% extends 'common/layout.html.twig' %}
{% block content %}
    <h1>Sign in</h1>
    <form action="" id="login" method="POST" name="{{form.vars.name}}">
        <p>
            {# @note @silex afficher un champ de formulaire #}
            {{ form_row(form.openid,{label:"Please enter your OpenID, or select one of the providers below:",attr:{class:"span6"}})}}
            {% for provider in providers %}
                {% if loop.index > 1 %} | {% endif %}
                <a class="openid-provider" href="javascript:void 0;" data-href='{{provider.url}}'>{{provider.name}}</a>
            {% endfor %}
            <h6 class="muted"><i>Exemple : for wordpress http://myusername.wordpress.com/ </i></h6>
            {# @note @silex afficher le reste du formulaire #}
            {{ form_rest(form)}}
        </p><p>
        <input type="submit" value="Sign in">
    </p>
    </form>
    <script type="text/javascript">
        var form = document.getElementById("login");
        form.addEventListener("click",function(event){
            var el = event.target;
            var targetInput = document.getElementsByName('login[openid]').item(0);
            var username;
            var url;
            if(el.className=="openid-provider"){
                url = el.getAttribute("data-href");
                //username = prompt("Enter your username");
                targetInput.value   = url;
            }
        });

    </script>
{% endblock %}