<form action="{{ path("profile_addpost")}}" 
      method="POST" 
      name="{{form.vars.name}}"
      >

    {{ form_row( form.body , {label:' ',attr: {rows:3,class:'span6'} } ) }}      
    {{form_rest(form)}}
    <input type="submit" value="{{ 'Post message'|trans }}" />

</form>